{% include "user_head.html" %}
<div class="row m-5">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="card" style="background-color:white; border:1px solid black; border-radius: 15px; width: 400px;">
            <form action="add_folder1" style="padding: 30px;">
                <div class="heading" style="font-weight: bold; font-size: 25px; text-align: center;">
                    Create Folder
                </div>
                <div style="margin: 20px auto;">
                    <input type="text" id="folder_name" name="folder_name" placeholder="Enter Folder Name" style="border-radius: 25px; padding: 10px 20px; width: 100%;">
                </div>
                <div>
                    <input type="submit" value="Create Folder" style="background-color: black; color: white; border-radius: 25px; padding: 10px 20px; width: 100%;">
                </div>
            </form>
        </div>
    </div>
</div>